:root {
  /** Primary - choose a color that represents the main theme */
  --ion-color-primary: #4a90e2; /* Example blue */
  --ion-color-primary-rgb: 74, 144, 226;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4281c9;
  --ion-color-primary-tint: #5f9ee8;

  /** Secondary - a complementary color to the primary */
  --ion-color-secondary: #32db64; /* Example green */
  --ion-color-secondary-rgb: 50, 219, 100;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2cc056;
  --ion-color-secondary-tint: #4fde78;

  /** Tertiary - an additional color for accents */
  --ion-color-tertiary: #ffce00; /* Example yellow */
  --ion-color-tertiary-rgb: 255, 206, 0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e0b500;
  --ion-color-tertiary-tint: #ffd31a;

   /** Background **/
   --ion-background-color: #f5f5f5; /* Light gray */
   --ion-background-color-rgb: 245, 245, 245;
 
   /* Adjust text color for better contrast with the new background */
   --ion-text-color: #404040; /* Darker text for better readability */
   --ion-text-color-rgb: 64, 64, 64;
}