.blog-content {
    font-family: 'Arial', sans-serif;
    color: #333; /* or any dark color for light backgrounds */
    margin: auto; /* this will center your text if the max-width is less than the screen width */
  }

  ion-text {
    color: #333;
    display: block;
    margin-bottom: 1em;
    font-size: 16px;
  }
  
  /* Apply this class to the container that wraps your content */
  .content-container {
    padding: 16px; /* or any padding you prefer */
  }
  