.section-header {
    font-family: 'Merriweather', serif; 
    font-size: 1.8rem; 
    font-weight: bold; 
    color: var(--ion-color-primary); 
    margin-bottom: 1rem;
  }
  
  .section-blurb {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem; 
    line-height: 1.6; 
    color: var(--ion-text-color); 
    text-align: justify; 
    margin-top: 0; 
  }

  .card-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
  }

  .card-component:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .experience-card:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) { /* Targeting desktop screens */
    .ion-hide-md-up {
      display: none !important; /* Hide elements for desktop screens */
    }
  }
  
  @media (max-width: 767px) { /* Targeting mobile screens */
    .ion-hide-md-down {
      display: none !important; /* Hide elements for mobile screens */
    }
  }
  