.experience-card {
    transition: transform 0.3s ease;
}

.card-header {
    width: 100%;
}

.company-logo {
    width: 100%; /* Make the logo responsive */
    max-width: 120px; /* Set a max-width to control the size */
    height: auto;
    object-fit: contain;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
}

.expand-icon {
    display: flex;
    align-items: center; /* Align the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    cursor: pointer;
}

/* When the card is not expanded, the row should center its children vertically */
.align-items-center {
    align-items: center;
}

.experience-card.expanded .ion-card-content {
    font-size: 1.1rem;
    line-height: 1.4; 
    color: var(--ion-text-color); 
}

.experience-card.expanded .ion-card-title {
    font-size: 1.3rem; 
    font-weight: 600; 
    margin-bottom: 0.5rem; 
}

.experience-card.expanded .ion-card-subtitle {
    font-size: 1.1rem; 
    color: var(--ion-color-medium); 
    margin-bottom: 1rem; 
}

.experience-card.expanded {
    padding: 1rem; 
}

/* Additional styling for the description text */
.experience-card.expanded .ion-card-content {
    padding: 16px 16px 0; 
    text-align: left;
    color: var(--ion-color-dark);
}

.experience-bullet {
    padding: 3px;
}

.hidden {
    display: none;
}
